<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastra-se</title>
</head>
<body>
    <main>
        <header>
            <h1>Realize seu cadastro</h1>
        </header>
        <section>
            <h1>Pagina de Cadastro</h1>
            <label for="txtNome">Nome Completo</label>
            <input id="txtNome" class="nome" />

            <label for="txtEmail">Ja possui conta? </label>
            <input id="txtEmail" class="email" />

            <button> Login </button>
        </section>
    </main>

</body>
</html>
